<div>
  <span data-dojo-attach-point="counter" style="display: none;">0</span>

  <svg version="1.1" id="progress" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 30" style="enable-background:new 0 0 400 30;" xml:space="preserve" data-dojo-attach-point="HorizontalProgressBar">
    <title>SVG horizontal progress bar</title>
    <line id="line" stroke="#E0E4E6" style="fill:none; stroke-width:10; stroke-linecap:round; stroke-linejoin:round;" x1="6" y1="25" x2="394" y2="25" data-dojo-attach-point="line" />
    <line id="svgLine" stroke="#58D9CF" style="fill:none; stroke-width:10; stroke-linecap:round; stroke-linejoin:round;" stroke-dasharray="0,1000" x1="6" y1="25" x2="394" y2="25" data-dojo-attach-point="svgLine" />
    <text id="valueTxt" transform="matrix(1 0 0 1 0 15)" fill="#000000"; style="font-size:14px;" data-dojo-attach-point="valueTxt"></text>
    <text id="secondLine" transform="matrix(1 0 0 1 394 15)" fill="#000000"; text-anchor="end" style="font-size:14px;" data-dojo-attach-point="secondLine"></text>
  </svg>
</div>
